/*-----attach body.custom to any style you add here-----*/
body {font: 62.5%/1.3  helvetica, arial, sans-serif; text-align:left; color:#111;}

.entry-content {font-family: helvetica, arial, sans-serif; font-size:1.3em; line-height:1.5385; margin:1.5385em 0 0;}

.entry-content a {font-family: helvetica, arial, sans-serif;}

.widget {font-size:1.3em;}