/*-----attach body.custom to any style you add here-----*/

.shadow {
  border: solid 1px #CCC;
  -moz-box-shadow: 3px 3px 4px #999;	
  -webkit-box-shadow: 3px 3px 4px #999;
  box-shadow: 3px 3px 4px #999;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
